# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.file_ignore
.cache
./Referencias/
./Referencias/calculadora-react-freecodecamp-master/*
./Referencias/estevanmaito-windmill-dashboard-1.0.2-0-g27e1092/*
frontend/build/
frontend/node_modules/
.vercel
.env*
